.App {

}

.Grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-top: 50px;
}

.GridItem{
  margin: 5px;
  color: black;
  text-transform: uppercase;
  width: 20vw;
  height: 20vw;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GridItem .GridItem {
  width: 80%;
}

.GridItem > a {
  text-decoration: none;
  color: black;
}

.GridItem.active > a {
  color: white;
}

.GridItem.active{
  border: 2px solid red;
  background-color: red;
}

.GridItem.active .GridItem.active{
  border: 2px solid blue;
  background-color: blue;
}
