.App {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.AppContent{
  overflow-y: scroll;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}


.AppContent.scaledown {
  transition: all 0.7s ease-in-out;
  transform: scale(.02);
}

.Breadcrumbs {
  padding-left: 15px;
  height: 100px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
  flex-shrink: 0;
}

.Breadcrumbs > a {
  padding-right: 15px;
  text-decoration: none;
}

.Breadcrumbs > a:visited {
  color: inherit;
}

.container{
  width: 80vw;
  margin: 0 auto;
}
