.App {

}

.Grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /*margin-top: 50px;*/
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.GridItem{
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-in-out;

  margin: 5px;
  color: black;
  text-transform: uppercase;
  width: calc(50% - 10px);
  height: 500px;
  box-sizing: border-box;
  border: 2px solid black;
  background-color: white;

  display: flex;
  flex-direction: column;

  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/

  overflow: hidden;
}

.GridItem > header{
  display: flex;
  flex-shrink: 0;
}

.GridItem > header > .title{
  display: flex;
  flex-grow: 1;
  /*align-items: center;*/
  justify-content: center;
}

.GridItem > .GridItemInner {
  /*width: 50%; */
  display: flex;
  flex-wrap: wrap;
}

.GridItem.active > .GridItemInner {
  overflow-y: scroll;
}

/*.Grid.zoom > .GridItem:not(.active) {*/
  /*margin: 0;*/
  /*height: 0px;*/
/*}*/

.Grid.zoom > .GridItem {
  margin: 0;
}

.GridItem .GridItem {
  /*width: 80%;*/
  width: calc(50% - 10px);
}

.GridItem > a {
  text-decoration: none;
  color: black;
}

.backRow {
  position: absolute;
  top: 15px;
  right: 15px;
}

.GridItem.active{
  background-color: red;
  border: 2px solid red;
  height: 100vh;
  margin: 0;
  width: 50%;
}

.GridItem.active > a {
  color: white;
}

.GridItem.active .GridItem.active{
  border: 2px solid blue;
  background-color: blue;
  height: 100vh;
}
